{% extends 'base.html.twig' %}

{% set ticket = app.session.get('ticket') %}

{% block body %}
    <div class="container-fluid" id="img-accueil"></div>

    <div class="container">
        <h1 class="text-center">Ticket #{{ ticket }}</h1>
        <a class="btn btn-sm btn-secondary" href="{{ path('ticket_logout') }}">{{ 'logout'|trans }}</a>
    </div>
{% endblock %}